root {
    --Cerulean-Blue: #2A57C0;
    --Bright-Gray: #EDEDF0;
    --Oxford-Blue: #0C2146;
    --New-Car: #2148c0;
    --Baby-Blue-Eyes: #9DC2FF;
    --Celtic-Blue: #2264D1;
}



* {
    padding: 0;
    margin: 0;
    line-height: 150%;
}


/* .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */


.content{
    font-size: 16px;
    text-align: center;
}
.card {
    margin: 2rem;
    padding: 2rem;
    
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #e9eef7;
}

.card:hover{
    box-shadow: 5px 5px 5px #e9eef7;
}

.product-img {
    width: 14rem;
    border-radius: 15px;
    padding: 0.3rem;
}

.cart-counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.remove {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}


.cart-counter button {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-category {
    color: #787885;
}

.card button {
    border: 1px solid #9DC2FF;
    background-color: white;
    color: --var(Celtic-Blue);
    border-radius: 2px;
    height: 2rem;
    font-weight: 300;
    font-size: 10px;
    line-height: 143%;
    letter-spacing: 0.018em;
    cursor: pointer;
}

.card button:hover {
    background-color: #d7dce4;
}

.remove button {
    border-radius: 50%;
    width: 1rem;
   
    color: crimson;
    font-size: 8px;
    font-weight: 300;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.remove button:hover {
    background-color: crimson;
    color: white;
    transition: 0.4s;
}