* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
.radio {
  margin: 0.3rem 2rem;
}
.title {
  margin: 1.5rem 3rem;
  font-weight: 500;
  font-size: 2.4rem;
}
.all-radio {
  margin: 2.5rem 1.8rem;
}
.label {
  margin-left: 1rem;
  font-size: 1.4rem;
}
.filterSection {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
  margin-top: 6rem;
  position: fixed;
}
